.star {
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    display: block;
    animation: shoot 4s linear infinite;
}

.star.stop {
    display: none;
}

.star::before {
    z-index: 3;
    content: '';
    position: absolute;
    top: 56%;
    left: 10px;
    width: 280px;
    height: 4px;
    /* border-radius: 10%; */
    transform: translateY(-50%);
    background: linear-gradient(90deg, #080808, transparent);
}

@keyframes shoot {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }
    10% {
        transform: rotate(315deg) translateX(0);
        opacity: 0.2;
    }
    60% {
        transform: rotate(315deg) translateX(0) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-2400px) scale(0.8);
        opacity: 0;
    }
}


.star:nth-of-type(1) {
    top: -40px;
    right: 0;
    left: initial;
    animation-delay: 2s;
    animation-duration: 1s;
}

.star:nth-of-type(2) {
    top: -20px;
    right: 120px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star:nth-of-type(3) {
    top: -40px;
    right: 200px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 3.6s;
}

.star:nth-of-type(4) {
    top: -60px;
    right: 260px;
    left: initial;
    animation-delay: 1.5s;
    animation-duration: 2.5s;
}

.star:nth-of-type(5) {
    top: -30px;
    right: 320px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 4s;
}

.star:nth-of-type(6) {
    top: -24px;
    right: 440px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 2.8s;
}

.star:nth-of-type(7) {
    top: -24px;
    right: -80px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 3.4s;
}

.star:nth-of-type(8) {
    top: -30px;
    right: -120px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 3s;
}

.star:nth-of-type(9) {
    top: -50px;
    right: -240px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 2.3s;
}

.star:nth-of-type(10) {
    top: -20px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 2.5s;
}

@media screen and (max-width: 576px) {
    .star:nth-of-type(1) {
        right: 0;
        animation-delay: 1.2s;
        animation-duration: 2.2s;
        transform: rotate(200deg);
    }
    
    .star:nth-of-type(2) {
        right: 40px;
        animation-duration: 3s;
    }
    
    .star:nth-of-type(3) {
        right: 80px;
        animation-duration: 3.6s;
    }
    
    .star:nth-of-type(4) {
        right: 120px;
        animation-duration: 4.5s;
    }
    
    .star:nth-of-type(5) {
        right: 160px;
        animation-delay: 1s;
        animation-duration: 4s;
    }
    
    .star:nth-of-type(6) {
        top: -24px;
        right: -60px;
        animation-duration: 3.2s;
    }
    
    .star:nth-of-type(7) {
        right: -80px;
        animation-duration: 3.8s;
    }
    
    .star:nth-of-type(8) {
        right: -140px;
        animation-duration: 3s;
    }
    
    .star:nth-of-type(9) {
        right: -200px;
        animation-duration: 4s;
    }
    
    .star:nth-of-type(10) {
        top: -200px;
        right: 150px;
        animation-delay: 1s;
        animation-duration: 3.3s;
    }
}

@keyframes shootSmall {
    0% {
        transform: rotate(270deg) translateX(0);
        opacity: 0;
    }
    10% {
        transform: rotate(270deg) translateX(0);
        opacity: 0.2;
    }
    60% {
        transform: rotate(270deg) translateX(0) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: rotate(270deg) translateX(-1000px) scale(0.8) !important;
        opacity: 0;
    }
}